.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-form {
  border: 1px solid black;
  padding: 30px;
  border-radius: 10%;
}